{% extends '__base.html' %}

{% block title %}About{% endblock %}


{% block content %}
    <h1>About page</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci corporis cum dolor eveniet fuga fugiat
        harum incidunt, inventore, nulla quam quas quidem repudiandae sequi sit, soluta temporibus tenetur
        voluptates!</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, incidunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, incidunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, incidunt!</p>

    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis cum in minima tempora.
        Architecto assumenda beatae, dolore ea, enim error harum illo illum magni minima, minus natus nesciunt non
        officia perspiciatis porro quisquam rerum similique soluta totam vel velit voluptas voluptatum? Architecto
        ducimus, illum iure modi ullam veniam veritatis.</h3>
{% endblock content %}
