{% extends "base.html" %}
{% load static %}

{% block page_content %}

    <h1>root/index page</h1>
    <h2>Just static content for sandboxing.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur atque consequatur culpa dignissimos
       doloremque ex labore laboriosam maxime modi, placeat possimus provident quas quasi quia repellendus similique
       sint voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores excepturi in nemo non odio
       provident qui reprehenderit totam ullam! Aut cupiditate expedita libero placeat quae soluta sunt velit
       voluptates! Cumque delectus esse excepturi fugiat in laboriosam laborum perspiciatis provident quas velit. Alias
       animi eum, iusto ratione sit veniam voluptates?</p>


{% endblock %}